<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/home2.css">
<link rel="stylesheet" href="/css/second.css">
<div class="container-fluid">
    <div class="head-txt">
        <h1>Select from the Following Templates:</h1>
    </div>

    <div class="templates-grid">
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tmplt">
                    <img class="tmplt-img" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="resume1">
                </div>
            </div>
        </div>
    </div>
    
</div>
<footer class="footer1">
    <div class="gen-info">
      <p class="copyright-txt">Copyright © 2020. All rights reserved.</p>
    </div>
    <div class="contact-info">
      <button type="button" class="btn-contact" data-toggle="modal" data-target="#ContactUsModal">
        Contact-Us
      </button>
    </div>
  </footer>

  <div class="modal fade" id="ContactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Contact-Us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span id="cross-btn" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="conatct-modal">
          <div class="inner-body">
            <div class="maddy-info">
              <h6>Madhav Anand</h6>
              +91 8210112958<br>
              <a href="https://www.linkedin.com/in/yash-ray-cri80vt/" target="_blank"><i class="fab fa-linkedin ctus"></i></a>
              <a href="https://github.com/Yash-Ray" target="_blank"><i class="fab fa-github-square ctus"></i></a>
              <a href="mailto:ray.yash.08@gmail.com" target="_blank"><i class="fas fa-envelope-square ctus"></i></a>
              <a href="https://www.instagram.com/yashray_08/" target="_blank"><i class="fab fa-instagram-square ctus"></i></a>
              <a href="https://drive.google.com/file/d/10q3O4x8DIylfMtnPuUTQLc2_WGMEN3KH/view?usp=sharing" download target="_blank"><i class="fas fa-file-pdf ctus pdf1"></i></a>
            </div>
            <div class="ray-info">
              <h6>Yash Ray</h6>
              +91 8210112958<br>
              <a href="https://www.linkedin.com/in/yash-ray-cri80vt/" target="_blank"><i class="fab fa-linkedin ctus"></i></a>
              <a href="https://github.com/Yash-Ray" target="_blank"><i class="fab fa-github-square ctus"></i></a>
              <a href="mailto:ray.yash.08@gmail.com" target="_blank"><i class="fas fa-envelope-square ctus"></i></a>
              <a href="https://www.instagram.com/yashray_08/" target="_blank"><i class="fab fa-instagram-square ctus"></i></a>
              <a href="https://drive.google.com/file/d/10q3O4x8DIylfMtnPuUTQLc2_WGMEN3KH/view?usp=sharing" download target="_blank"><i class="fas fa-file-pdf ctus pdf1"></i></a>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
</div>