<link rel="stylesheet" href="/css/form.css">

<!-- <%keys.forEach((key)=>{%>
<%=key%>:: <%=form[key]%><br>
<%})%> -->
<div id='timeLine'>
    <div class="circle"></div>
</div>

<div id='box'>
    <div id='title'>

    </div>
    <div id='content'>

    </div>
</div>
