<link rel="stylesheet" href="/css/form.css">


<div id='timeLine'>
<% for (var i =1; i <=numTrue;  i++ ) { %>
        <div class="circle" id=`circle-<%=i%>`></div>
    <% } %>
</div>

<div id='box'>
    <form action="">
<%keys.forEach((key,index)=>{%>
    <%if(index==0){%>
        <div  class='con' id="divs">
    <%}else{%>
        <div class="setDisplayNone" id="divs">
    <%}%>
    <div class="header">
        <h1><%=key%></h1>
    </div>
    <div class="formDetail">
        <textarea name=`<%=key%>` class='txtar'></textarea>
    </div>
    </div>
    <%})%>
    </form>
    <button type="submit" id="next">Next</button>
    <button type="submit" id="prev" disabled>Previous</button>
</div>


<script src="/js/form.js"></script>
<script>
     new formCarousel(`<%=numTrue%>`);
</script>