<link rel="stylesheet" href="/css/form.css">

<!-- <%keys.forEach((key)=>{%>
<%=key%>:: <%=form[key]%><br>
<%})%> -->
<!-- <%=form.numTrue%> -->
<!-- <div id='timeLine'>
    <% for(var i=0;i!=form.numTrue ;i++){%>
    <div class="circle"></div>
    <%}%>
</div> -->
<div id='timeLine'>
<% for (var i =1; i <=form.numTrue;  i++ ) { %>
        <div class="circle" id=`circle-<%=i%>`></div>
    <% } %>
</div>

<div id='box'>
    <div id='title'>

    </div>
    <div id='content'>

    </div>
</div>
