<link rel="stylesheet" href="/css/form.css">


<div id='timeLine'>
<% for (var i =1; i <=numTrue;  i++ ) { %>
        <div class="circle" id=`circle-<%=i%>`></div>
    <% } %>
</div>

<div id='box'>
<%keys.forEach((key,index)=>{%>
    <%if(index==0){%>
        <div  class='con'>
    <%}else{%>
        <div class="setDisplayNone">
    <%}%>
    <div class="header">
        <h1><%=key%></h1>
    </div>
    </div>
    <%})%>
</div>
