@import './variables';
body {
    background-color:$thirdB;
    color:$primFont;   
}
@mixin position($pos,$left,$top)
{
    position: absolute;
    left:$left;
    top:$top;
}
#box{
    background-color: $primFont;
    height:$h1;
    width:$w1;
    border-radius:$radius;
    @include position(absolute,25vw,15%);
}
#timeLine{
    
    @include position(absolute,45vw,10%);
    display: flex;
    .circle
    {
        height: 20px;
        width: 20px;
        border-radius: $radius;
        background-color: $primFont;
        margin-left: 20px;
    }
   
}