@import './variables';
body {
    background-color:$thirdB;
    color:$primFont;   
}
@mixin position($pos,$left,$top)
{
    position: absolute;
    left:$left;
    top:$top;
}
#box{
    background-color: $primFont;
    height:$h1;
    width:$w1;
    border-radius:$radius;
    color: black;  
    @include position(absolute,25vw,15%);
    .con{
      
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        .header h1{
            text-align: center;
        }
        .txtar
        {
            @include position(absolute,3%,25%);
            width: 90%;
            height: 300px;
        }
    }

}
#timeLine{
    
    @include position(absolute,45vw,10%);
    display: flex;
    .circle
    {
        height: 20px;
        width: 20px;
        border-radius: $radius;
        margin-left: 20px;
        background-color: $primFont;
    }
   
}

.setDisplayNone{
    display: none;
}
#prev
{
    position: absolute;
    top:90%;
    height: 50px;
    border-bottom-left-radius: 30px;
}
#sub
{
    position: absolute;
    top:90%;
    left:44%;
    height: 50px;
}
#next
{
    position: absolute;
    top:90%;
    left:93.2%;
    height: 50px;
    border-bottom-right-radius: 30px;
}
