html {
    padding: 0px;
    margin: 0px;
    /* overflow: scroll; */
    scroll-behavior: smooth;
}

body {
    background-color: #212121;    
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.btn-login, .btn-signup {
    border: none;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    /* CHeck the above line for font size */
    outline: 0 !important;
}
.btn-login {
    color: whitesmoke;
}
.btn-signup {
    color: #ffc700;
    border: 2px solid #ffc700;
    border-radius: 15px;
    padding-bottom: 5px;
}
.btn-login:hover, .btn-signup:hover {
    text-decoration: underline;
}

.navbar-index {
    display: flex;
    flex-direction: row;
    float: right;
}

.login, .sign-up {
    margin: 20px 1vw;
}

button {
    padding: 0px 10px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffc700;
    font-size: 6.5vw;
    margin-bottom: 0px;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 4vw;
}
img {
    height: 30vw;
    width: 45vh;
    border-radius: 20px;    
    box-shadow: 5px 5px 10px black;
    position: absolute;
    margin-left: 65%;
    margin-top: -3%;
}

.herotxt {
    /* border: 2px solid red; */
    border-right: 4px solid whitesmoke;
    width: 50%;
    position: relative;
    top: 35vh;
}
.maintxt {
    font-size: 6rem;
    padding-top: 10px;
}
.subtxt {
    padding-right: 10px;
}
.maintxt, .subtxt  {
    padding-left: 10%;
}
.scrolldown {
    color: whitesmoke;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
a {
    color: whitesmoke;
}
a:hover {
    color: whitesmoke;
}
/* ******************************* */
#section1 {
    /* width: 100vw; */
    height: 100vh;
}
.footer1 {
    position: relative;
    bottom: 0;
    
    /* border: 2px solid red; */
    height: 25vh;
    background-color: whitesmoke;
    opacity: 0.8;
    /* display: block; */
    
}

.row {
    position: relative;
    top: 40px;
}

.col {
    color: white;
    /* border: 1px dashed pink; */
    height: 450px;
    width: 100%;
    margin-bottom: 12.5vh;
}

.stepcard {
    height: 400px;
    width: 300px;
    background-color: #ffc700;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black ;
    margin: 0px auto;
    /* z-index: -10000; */
}

.stepcount {
    color: whitesmoke;
    margin: 0px auto;
    text-align: center;
    /* border: 2px solid green; */
    font-size: 150%;
    padding-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    width: fit-content;
}

.mask-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px -0px 20px black inset;
    background: #212121;
    margin: 0px auto;
    position: relative;
    top: 30px;
}
/* .mask2 {
    background: transparent;
    position: relative;
    top: -1px;
    z-index: 99;
} */
.real-img {
    margin: 0px;
    padding: 0;
    box-shadow: none;
    height: 150px;
    width: 150px;
    /* position: relative; */
    
    
    /* z-index: -1; */
}
.real-img-div {
    width: fit-content;
}

.step1-img, .step2-img {
    position: relative;
    top: -120px;
    left: 80px;
    
}
.step2-img {
    left: 75px;
}
.step1-img {
    height: 145px;
    width: 145px;
}
.card-img {
    height: 50%;
}

.card-txt {
    width: 100%;
}

.card-txt-head {
    color: #212121;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 0px auto;
}

.card-txt-content {
    max-width: 150px;
    text-align: center;
    margin: 0px auto;
    line-height: 1.1;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.content2 {
    max-width: 200px;
}

/* *********************** */
/* IDENTIFICATION OF DIVS */