body {
  background-color: #212121;
  color: white; }

#box {
  background-color: white;
  height: 60vh;
  width: 50vw;
  border-radius: 30px;
  position: absolute;
  left: 25vw;
  top: 15%; }

#timeLine {
  position: absolute;
  left: 45vw;
  top: 10%;
  display: flex; }
  #timeLine .circle {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: white;
    margin-left: 20px; }
