body {
  background-color: #212121;
  color: white; }

#box {
  background-color: white;
  height: 60vh;
  width: 50vw;
  border-radius: 30px;
  color: black;
  position: absolute;
  left: 25vw;
  top: 15%; }
  #box .con {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize; }
    #box .con .header h1 {
      text-align: center; }
    #box .con .txtar {
      position: absolute;
      left: 3%;
      top: 25%;
      width: 90%;
      height: 300px; }

#timeLine {
  position: absolute;
  left: 45vw;
  top: 10%;
  display: flex; }
  #timeLine .circle {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    margin-left: 20px;
    background-color: white; }

.setDisplayNone {
  display: none; }

#prev {
  position: absolute;
  top: 90%;
  height: 50px;
  border-bottom-left-radius: 30px; }

#sub {
  position: absolute;
  top: 90%;
  left: 44%;
  height: 50px; }

#next {
  position: absolute;
  top: 90%;
  left: 93.2%;
  height: 50px;
  border-bottom-right-radius: 30px; }
