.modal-content {
  background-color: #ffc700;
  opacity: 0.9; }

.modal-title {
  font-variant: small-caps;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline; }

.modal-header {
  border-bottom: 1px solid #212121; }

.modal-body {
  margin: auto; }

.modal-footer {
  margin: 0px;
  padding: 0px;
  border: none;
  padding-bottom: 20px; }

.username-login, .password-login {
  margin: 40px 0px; }

input[type=text], input[type=password], input[type=email] {
  width: 300px;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black; }

input[type=text]:focus, input[type=password]:focus, input[type=email] {
  outline: none;
  border-bottom: 1px solid black; }

::placeholder {
  color: #212121;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto Slab', serif; }

.close:focus {
  outline: none; }

#cross-btn {
  font-size: 40px;
  color: #212121;
  opacity: 0.8; }

#cross-btn:hover {
  color: #212121;
  opacity: 1; }

.btn-primary {
  background-color: #212121;
  color: #ffc700;
  height: 40px;
  width: 80px;
  font-size: 20px;
  padding-bottom: 40px;
  border-radius: 12px;
  transition: 0.5s all ease-in-out; }

.btn-primary:hover {
  background-color: #212121;
  color: #ffc700; }

.btn-primary:focus, .btn:focus {
  box-shadow: none;
  background-color: #212121;
  color: #ffc700; }

.signup-redirect {
  margin: 0px;
  padding: 0px;
  margin-top: -10px;
  text-align: center; }
