html, * {
  padding: 0px;
  margin: 0px; }

.row {
  /* border: 2px solid red; */ }

h1 {
  font-size: 50px;
  margin-left: 28px;
  margin-top: 20px; }

.col {
  /* border: 2px dashed blue; */
  height: 450px;
  min-width: 200px; }

.tmplt {
  height: fit-content;
  width: 100%;
  /* background-image: url('https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png'); */ }

.tmplt-img {
  position: absolute;
  left: 10%;
  top: 5%;
  height: 90%;
  width: 80%;
  /* min-width: 300px; */
  transition: 0.5s all ease-in-out; }

.tmplt-img:hover {
  transform: scale(1.1); }

@media all and (max-width: 527px) {
  .btn-contact {
    margin-top: 10px; } }
